.courses .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.courses .box-container .box{
  border-radius: .5rem;
  background-color: var(--white);
  padding: 2rem;
}

.courses .box-container .box .tutor{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.courses .box-container .box .tutor img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.courses .box-container .box .tutor h3{
  font-size: 1.8rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.courses .box-container .box .tutor span{
  font-size: 1.3rem;
  color:var(--light-color);
}

.courses .box-container .box .thumb{
  position: relative;
}

.courses .box-container .box .thumb span{
  position: absolute;
  top:1rem; left: 1rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  background-color: rgba(0,0,0,.3);
  color: #fff;
  font-size: 1.5rem;
}

.courses .box-container .box .thumb img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: .5rem;
}

.courses .box-container .box .title{
  font-size: 2rem;
  color: var(--black);
  padding-bottom: .5rem;
  padding-top: 1rem;
}

.courses .more-btn{
  text-align: center;
  margin-top: 2rem;
}