.reviews .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.reviews .box-container .box{
  border-radius: .5rem;
  background-color: var(--white);
  padding: 2rem;
}

.reviews .box-container .box p{
  line-height: 1.7;
  font-size: 1.7rem;
  color: var(--light-color);
}

.reviews .box-container .box .student{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.reviews .box-container .box .student img{
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.reviews .box-container .box .student h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: .3rem;
}

.reviews .box-container .box .student .stars{
  font-size: 1.5rem;
  color:var(--orange);
}